<div class="todo-inbox">
  <div class="flex-container">
    <h1 class="mat-display-2">Inbox</h1>  
    <div class="search">
      <mat-form-field appearance="outline">
        <input
          type="text"
          matInput
          [formControl]="searchControl"
          placeholder="Search"
        >
      </mat-form-field>	
    </div>
  </div>

  <div class="add-todo-panel">
    <app-add-todo
      (todoAdded)="onTodoAdded()"  
    ></app-add-todo> 
  </div>
  <div class="todo-list-panel">
    <app-todo-list 
      [isLoading]="isLoading"
      [todos]="todos"
      (scrolled)="onScrolled()"
    ></app-todo-list> 
  </div>
</div>



