<div class="profile-card">
  <mat-card>
    <mat-card-content>
      <div class="flex-container">
        <div class="profile-avatar">
          <img class="avatar" src="{{profileInfo?.avatar ? profileInfo?.avatar : 'assets/images/profile.jpg'}}"/>
        </div>
        <div class="profile-info">
          <mat-card-header>
            <mat-card-title class="header">
              <div class="mat-display-2">My Profile</div>
            </mat-card-title>
          </mat-card-header>

          <ng-container *ngIf="!(isLoading$ | async); else loading">
            <form name="profileForm" [formGroup]="profileForm">
              
              
              <div class="avatar-upload">
                <div class="full-width mat-form-field">
                  <app-file-upload 
                  formControlName="avatar">
                  </app-file-upload>
                </div>
              </div>

              <div class="display-name">
                <mat-form-field class="full-width" appearance="outline">
                  <input
                    formControlName="display_name"
                    type="email"
                    matInput
                    >
                </mat-form-field>
              </div>
      
              <div class="email">
                <mat-form-field class="full-width" appearance="outline">
                  <input
                    formControlName="email"
                    type="email"
                    matInput>
                </mat-form-field>
              </div>
              <button mat-raised-button color="primary" (click)="updateProfile()">Update Profile</button>
            </form>
          </ng-container>

          <ng-template #loading>
            <mat-spinner 
              diameter="70"
              class="spinner">
            </mat-spinner>
          </ng-template>
        </div>
      </div>
      
    </mat-card-content>
  </mat-card>
</div>