mat-card {
  max-width: 600px;
  max-height: 600px;
  text-align: center;
  margin: 2em auto;
  padding: 50px 0;
  border: 1px solid lightgrey;
}

mat-card-header {
  justify-content: center;
}

.full-width {
  width:80%;
}

.password-inputs {
  // display: flex;
  // flex-direction: row;
  align-content: center;
}


// .password-inputs > mat-form-field {
//   width: 50%;
// }
