<div class="todo-list">
  <ng-container *ngIf="todos">
    <div 
      class="scrollable"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="500"
      [scrollWindow]="false"
      (scrolled)="onScroll()">
      
      <ng-container *ngIf="!isLoading; else loading">
        <app-todo-item 
        *ngFor="let todo of todos.data" 
        [todoItem]="todo">
      </app-todo-item>
      </ng-container>
      <ng-template #loading>
        <mat-spinner 
          diameter="70"
          class="spinner">
        </mat-spinner>
      </ng-template>

    </div>
  </ng-container>
  <ng-container *ngIf="isPageLoading">
      Fetching todo items...
  </ng-container>
</div>

