<div class="todo-list">
  <ng-container *ngIf="!isLoading; else loading">
    <div 
      class="scrollable"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="500"
      [scrollWindow]="false"
      (scrolled)="onScroll()">
      
      <ng-container *ngIf="todos">
        <app-todo-item 
        *ngFor="let todo of todos.data" 
        [todoItem]="todo">
        </app-todo-item>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="flex-container">
      <mat-spinner 
      diameter="70">
      </mat-spinner>
    </div>
  </ng-template>
</div>

