
.toolbar {
  padding: 2em;
}

.main-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.spacer {
  flex: 1 1 auto;
}

.dropdown-arrow {
  font-size: 1.5em;
}

.avatar-container {
  padding: 1em;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid grey;
  object-fit: contain;
}
