<div class="main-nav">
  <mat-toolbar class="toolbar" color="primary">
    <span>My Todos</span>
    <span class="spacer"></span>
    <div class="displayName">{{displayName}}</div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        View Profile
      </button>
      <button mat-menu-item (click)="logout()"> 
        Logout
      </button>
    </mat-menu>
  </mat-toolbar>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</div>


