<div class="main-nav">
  <mat-toolbar class="toolbar" color="primary">
    <span [routerLink]="['/']">My Todos</span>
    <span class="spacer"></span>
    <div class="displayName">{{displayName}}</div>
   
    <div class="avatar-container">
      <img class="avatar" src="{{avatar ? avatar : 'assets/images/profile.jpg'}}"/>
    </div>

    <div [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    
    <mat-icon class="dropdown-arrow">arrow_drop_down</mat-icon>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['profile']">
        View Profile
      </button>
      <button mat-menu-item (click)="logout()"> 
        Logout
      </button>
    </mat-menu>
  </mat-toolbar>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</div>


