mat-card {
  max-width: 600px;
  max-height: 600px;
  text-align: center;
  margin: 2em auto;
  padding: 0px 0px;
  border: 1px solid lightgrey;
}

mat-card-header {
  justify-content: center;
}

mat-card-content {
  padding: 50px;
}

// mat-progress-bar {
//   margin-bottom: 50px;
// }


.full-width {
  width:80%;
}
