:host {
  background-color:lightcyan;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.one {
  width: 100%;
}

.two {
  width: 100%;
}

.todo-asset {
  max-width: 700px;
}

mat-card {
  max-width: 500px;
  text-align: center;
  border: 1px solid lightgrey;
}

mat-card-header {
  justify-content: center;
}

mat-card-content {
  padding: 70px;
}


.full-width {
  width:90%;
}
